* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #222831;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    background-color: #111720;
    gap: 7px;
}

.header-text {
    color: white;
    font-size: 32px;
    font-family: 'Roboto';
}

.github-link {
    color: white;
    font-family: 'Roboto';
    display: flex;
    justify-content: center;
    gap: 5px;
}

.github-logo {
    width: 20px;
    height: 20px;
}


.container {
    display: flex;
    margin-top: 70px;
    flex-direction: column;
    border: white solid 2px;
    border-radius: 20px;
    width: 300px;
    height: 500px;
    align-self: center;
    background-color: #F8F7FF;
    padding: 15px 15px 1px;
}

.display {
    padding: 10px 15px;
    background-color: #DCD6FF;
    height: 80px;
    border-radius: 8px;
    box-shadow: inset 0 0 5px;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.upper-text {
    font-size: 20px;
    font-family: sans-serif;
}

.lower-text {
    font-size: 36px;
    font-family: sans-serif;
    margin-top: auto;
}

.buttons {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 7px;
}

.calc-button {
    background: none;
    background-color: #D6D6D6;
    border: none;
    padding: 1rem;
    border-radius: 100%;
    box-shadow: 1px 1px 1px black;
    transition: top ease 0.2s;
    position: relative;
    top: 0;
    font-size: 28px;
    cursor: pointer;
}

.calc-button:hover {
    background-color: #C2C2C2;
    top: -2px;
}

.oper-button {
    background-color: #B8B8FF;
}

.fn-button {
    background-color: #EE8F6D
}

.equal {
    background-color: #ECDA83;
}

.oper-button:hover {
    background-color: #8585FF;
}

.fn-button:hover {
    background-color: #E76536
}

.equal:hover {
    background-color: #E6D060;
}